# Container names
APP_CONTAINER_NAME=
NGINX_CONTAINER_NAME=
NODE_CONTAINER_NAME=
MYSQL_CONTAINER_NAME=

# MySQL credentials
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=

# Ports
APP_PORT=
MYSQL_PORT=
VITE_PORT=